.App {
  text-align: center;

}

.break {
  word-break: break-all;
}

/* 
color1:#b5626b
color:#3a4f73 */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bg-started {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(124, 186, 217, 1) 15%, rgba(2, 151, 224, 1) 39%);
}

.bg-tab {
  /* background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 46%, rgba(137, 221, 203, 1) 63%, rgba(81, 202, 176, 1) 81%); */

  /* background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(166, 210, 231, 1) 52%, rgba(2, 151, 224, 1) 83%);
 */
  /* background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(219, 229, 233, 1) 58%, rgba(166, 210, 231, 1) 87%); */
  /* background: rgb(236,237,241);
  background: linear-gradient(90deg, rgba(236,237,241,1) 0%, rgba(219,229,233,1) 22%, rgba(166,210,231,1) 49%, rgba(219,229,233,1) 72%, rgba(231,232,236,1) 89%); */
  /* background-color: #fff; */
  background: rgb(236, 237, 241);
  background: linear-gradient(90deg, rgba(236, 237, 241, 1) 40%, rgba(233, 214, 182, 1) 68%, rgba(242, 207, 148, 1) 89%, rgba(249, 180, 69, 1) 100%);



}

.bg-laravel {
  background: rgb(236,237,241);
  background: linear-gradient(90deg, rgba(236,237,241,1) 35%, rgba(255,132,125,1) 83%, rgb(250, 86, 77) 98%);
  /* background: rgb(236,237,241);
background: linear-gradient(270deg, rgba(236,237,241,1) 35%, rgba(255,132,125,1) 83%, rgba(255,45,32,1) 98%); */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.current {
  /* background-color: #b0bae8; */
  border-bottom: 5px solid #ff9e00;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}